/fantasy-heroes/Logs
/fantasy-heroes/Library
/fantasy-heroes/.vs
/fantasy-heroes/Temp
/fantasy-heroes/*.csproj
*.csproj
/fantasy-heroes/AppleAuth.Editor.csproj
/fantasy-heroes/UserSettings
/fantasy-heroes/*.vsconfig
/fantasy-heroes/*.log
/fantasy-heroes/*.sln
/fantasy-heroes/obj

