/fantasy-heroes/Assets/AllAsset/Model_Environment/Graveyard[[:space:]]Pack[[:space:]]Simp[[:space:]]Series/Scenes/Demo[[:space:]]Scene[[:space:]]01/LightingData.asset filter=lfs diff=lfs merge=lfs -text
/fantasy-heroes/Assets/Fonts/NotoSansJP-Regular-Kanji[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/fantasy-heroes/Assets/AllAsset/GUI[[:space:]]Kit[[:space:]]Casual[[:space:]]Game/FantasyHero.rar filter=lfs diff=lfs merge=lfs -text
/fantasy-heroes/Assets/Fonts/(Ch)NotoSansSC-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/fantasy-heroes/Assets/Fonts/(Ko)NotoSansKR-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
